{% extends "appChernobylBlog/blog_inicio.html" %}

{% load static %}

{% block CssQueCambia %}
<link href="{% static 'appChernobyl/css/styles2.css' %}" rel="stylesheet" />
{% endblock %}
{% block ContentThatChangesInterlineado %}
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
{% endblock %}

{% block ContentThatChanges %}

<body>
    {% if buscar.errors %}

    <p style="color: red;"> Estan mal los datos</p>
    
    {% endif %}

    <h1 class="mx-auto my-0 text-uppercase">Search Page</h1>

    <form action="/appChernobyl/buscar/" method="GET">
    
        <input type="text" name="name">
    
        <input type="submit" value="Search Stalker">
    
    
    </form>



    
</body>

<br>
<a href="{% url 'stalkers' %}">Back</a>


{% endblock %}