{% extends "appChernobyl/inicio.html" %}
<!--- heredo del padre --->

{% load static %}

{% block CssQueCambia %}
<link href="{% static 'appChernobyl/css/styles2.css' %}" rel="stylesheet" />
{% endblock %}

{% block ContentThatChanges %}

<h1> Edit Your Profile </h1>
<h1> {{user.username}} </h1>



<form action="" method="POST">{% csrf_token %}
    
        

    <table>    


        {{ formulario.as_table }}

    </table>

    <input type="submit", value="Change Profile">

</form>

{% endblock %}