{% extends "appChernobyl/inicio.html" %}
<!--- heredo del padre --->

{% load static %}

{% block CssQueCambia %}
<link href="{% static 'appChernobyl/css/styles2.css' %}" rel="stylesheet" />
{% endblock %}

{% block ContentThatChanges %}
<!--- Todo lo que va a cambiar en la pag stalker --->



<p style="color:bisque">TITLE: <i> {{post.title}} </i></p>
<p style="color:bisque">SUBTITLE: <i> {{post.subtitle}} </i></p>
<p style="color:bisque">BODY: <i> {{post.body}} </i></p>
<p style="color:bisque">AUTHOR: <i> {{post.author}} </i></p>
<p style="color:bisque">DATE: <i> {{post.date}} </i></p>

<p>
    <a href="{% url 'post_listar' %}">Back</a>
</p>


{% endblock %}
