{% extends "appChernobyl/inicio.html" %}

{% load static %}

{% block ContentThatChanges %}
<!--- Todo lo que va a cambiar en la pag levels --->




    {% if posts %}



        {% for post in posts %}

               
        <div class="container p-3 my-5 bg-dark text-white align-items-center justify-content-center">
            <h3 class="post title"> 
                <p href=> {{ post.title }} </p> </h3>
            <hr/>

                

            

            <h2 class = "post subtitle" > {{ post.subtitle }} </h2>

            
            {{ post.body | safe}} 

            <p class="post-meta"> Write By 
                <a> {{ post.author }} </a> el
                            {{ post.date }}

            </p>

        {% endfor %}
    {% else %}
        <h1> No existen post registrados </h1>

    {% endif %}
    </div>


{% endblock %}



