{% extends "appChernobyl/inicio.html" %}
<!--- heredo del padre --->

{% load static %}

{% block CssQueCambia %}
<link href="{% static 'appChernobyl/css/styles2.css' %}" rel="stylesheet" />
{% endblock %}

{% block ContentThatChanges %}
<!--- Todo lo que va a cambiar en la pag stalker --->

<table class="table table-bordered">
        <thead style="color:bisque">
                <tr>
                        <td>TITLE</td>
                        <td>SUBTITLE</td>
                        <td>BODY</td>
                        <td>ACTIONS</td>

                        
                </tr>
        </thead>

        <tbody> {% for post in object_list %}


                <td style="color:bisque">{{post.title}}
                <td style="color:bisque">{{post.subtitle}}
                <td style="color:bisque">{{post.author}}
        
                        <td>
                                <button><a href="{% url 'post_detalle' post.id %}">Detail</a></button>
                                <button><a href="{% url 'post_editar' post.id %}">Update</a></button>
                                <button><a href="{% url 'post_borrar' post.id %}">Delete</a></button></td>
                        </td>
        </tbody>

{% endfor %}  

</table>

<button class="btn btn-primary"><a style="color:brown" href="{% url 'post_crear' %}">CREATE</a></button>


{% endblock %}