{% extends "appChernobylBlog/blog_inicio.html" %}
<!--- heredo del padre --->

{% load static %}

{% block ContentThatChangesInterlineado %}
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center ">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
{% endblock %}

{% block ContentThatChanges %}

<body>

    <h2 class="text-white-50 mx-auto mt-2 mb-5">Registered Stalker</h2>

    {% if stalkers %}



    <ul>
    {% for stalker in stalkers %}

<table class="table table-bordered">
        <thead style="color:bisque">
                <tr>
                        <td>NAME</td>
                        <td>SURNAME</td>
                        <td>FACTION</td>
                        <td>DATE OF BIRTH</td>
                        
                </tr>
        </thead>
    
    
    
    
            <tbody>
                <td style="color:bisque"> {{stalker.name}}</td>
                <td style="color:bisque"> {{stalker.surname}}</td>
                <td style="color:bisque">{{stalker.faction}}</td>
                <td style="color:bisque"> {{stalker.dateOfBirth}}</td>
            </tbody>
    
    
    <p>
</table>   
    {% endfor %}
    
    </ul>

    {% else %}

    <p style="color: red;"> No stalkers found </p>

    {% endif %}

    <a class="btn btn-sm btn-primary" href="{% url 'busqueda_stalkers' %}">Search Another Stalker</a>
    <p> </p>
    <a class="btn btn-sm btn-secondary" href="{% url 'inicio' %}">Homepage</a>

</body>


{% endblock %}