{% extends "appChernobyl/inicio.html" %}
<!--- heredo del padre --->

{% load static %}

{% block CssQueCambia %}
<link href="{% static 'appChernobyl/css/styles2.css' %}" rel="stylesheet" />
{% endblock %}

{% block ContentThatChanges %}
<!--- Todo lo que va a cambiar en la pag stalker --->


<p style="color:bisque">NAME: <i> {{stalker.name}} </i></p>
<p style="color:bisque">SURNAME: <i> {{stalker.surname}} </i></p>
<p style="color:bisque">FACTION: <i> {{stalker.faction}} </i></p>
<p style="color:bisque">EMAIL: <i> {{stalker.email}} </i></p>
<p style="color:bisque">DATE OF BIRTH: <i> {{stalker.dateOfBirth}} </i></p>

<p>
    <a href="{% url 'stalker_listar' %}">Back</a>
</p>


{% endblock %}


