{% extends "appChernobylBlog/blog_inicio.html" %}
<!--- heredo del padre --->

{% load static %}


{% block CssQueCambia %}
<link href="{% static 'appChernobyl/css/styles2.css' %}" rel="stylesheet" />
{% endblock %}
{% block ContentThatChangesInterlineado %}
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center ">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
{% endblock %}
{% block ContentThatChanges %}
<!--- Todo lo que va a cambiar en la pag stalker --->

{% if request.user.is_authenticated %}

<table class="table table-bordered">
        <thead style="color:bisque">
                <tr>
                        <td>NAME</td>
                        <td>FACTION</td>
                        <td>ACTIONS</td>

                        
                </tr>
        </thead>

        <tbody> {% for stalker in object_list %}


                <td style="color:bisque">{{stalker.name}}
                <td style="color:bisque">{{stalker.faction}}
        
                        <td>
                                {% if request.user.is_authenticated %}
                                        <button><a href="{% url 'stalker_detalle' stalker.id %}">Detail</a></button>
                                        <!--
                                        <button><a href="{% url 'stalker_editar' stalker.id %}">Update</a></button>
                                        <button><a href="{% url 'stalker_borrar' stalker.id %}">Delete</a></button></td>
                                        -->
                        </td>
        </tbody>                {% endif %}

                {% endfor %}  

</table>

<a href="{% url 'stalkers' %}">Back</a>
{% else %}
        <p style="color:bisque"> Necesitas estar logueado para realizar esa accion</p><a style="color:brown" href="{% url 'Login' %}">Log In</a></button>

{% endif %}        
{% endblock %}