{% extends "appChernobylBlog/blog_inicio.html" %}
<!--- heredo del padre --->

{% load static %}

{% block CssQueCambia %}
<link href="{% static 'appChernobyl/css/styles2.css' %}" rel="stylesheet" />
{% endblock %}
{% block ContentThatChangesInterlineado %}
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center ">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
{% endblock %}

{% block ContentThatChanges %}
<!--- Todo lo que va a cambiar en la pag stalker --->


<h1 class="mx-auto my-0 text-uppercase">Stalker Page</h1>
<h2 class="text-white-50 mx-auto mt-2 mb-5">Register Stalker</h2>


{% if miFormulario.errors %}

<p style="color: red;"> Estan mal los datos</p>

{% endif %}


<form style= "color: bisque;"  action="" method="POST" enctype="multipart/form-data">{% csrf_token %}

    <table>
        
        {{ form.as_table }}

    </table>
    <input type="submit", value="CREATE">

</form>

</br>
<a href="{% url 'stalkers' %}">Back</a>





{% endblock %}