{% extends "appChernobylBlog/templateprueba.html" %}
<!--- heredo del padre --->

{% load static %}

{% block CssQueCambia %}
<link href="{% static 'appChernobyl/css/styles2.css' %}" rel="stylesheet" />
{% endblock %}

{% block ContentThatChanges %}
<!--- Todo lo que va a cambiar en la pag stalker --->

<table class="table table-bordered">
    <thead style="color:bisque">
            <tr>
                    <td>NAME</td>
                    <td>SURNAME</td>
                    <td>FACTION</td>
                    <td>EMAIL</td>
                    <td>DATE OF BIRTH</td>
                    
            </tr>
    </thead>




        <tbody>
            <td style="color:bisque"> {{stalker.name}}</td>
            <td style="color:bisque"> {{stalker.surname}}</td>
            <td style="color:bisque">{{stalker.faction}}</td>
            <td style="color:bisque"> {{stalker.email}} </td>
            <td style="color:bisque"> {{stalker.dateOfBirth}}</td>
        </tbody>


<p>
</table>   
    <a href="{% url 'stalker_listar' %}">Back</a>
</p>


{% endblock %}


