{% extends "appChernobyl/inicio.html" %}
<!--- heredo del padre --->


{% load static %}

{% block CssQueCambia %}
<link href="{% static 'appChernobyl/css/styles2.css' %}" rel="stylesheet" />
{% endblock %}

{% block ContentThatChanges %}
<!--- Todo lo que va a cambiar en la pag stalker --->


<h1 class="mx-auto my-0 text-uppercase">Stalker Page</h1>







<tr class="nav-item" ><a class="btn btn-sm btn-primary" href= "{% url 'stalker_crear' %}">Create Stalker</a></tr>

<tr class="nav-item" ><a class="btn btn-sm btn-primary" href ="{% url 'stalker_listar' %}">Stalkers List</a></tr>

<tr class="nav-item" ><a class="btn btn-sm btn-primary" href ="{% url 'busqueda_stalkers' %}">Search Stalkers</a></tr>






{% endblock %}

