{% extends "appChernobylBlog/blog_inicio.html"  %}


{% block ContentThatChangesInterlineado %}
<br>
<br>
<br>
<br>

<div class="container px-5 px-lg-10 d-flex h-100 align-items-left">
    <div class="d-flex justify-content-center">
        <div class="text-left">
{% endblock %}

{% block ContentThatChanges %}

<h1> {{cats}} </h1>

<br>
<ul>
<body>
    {% for post in post_category %}
    <br>
        <a href="{% url 'post_detail' post.id %}"> {{post.title}} - {{post.category}} - {{post.author}} - {{post.date}}</a> 
        
        <a href="{% url 'post_update'  post.id %} ">(Edit)</a><br>
        

        {{post.body  | slice:":50" | safe}}


    {% endfor %}
</ul>    
</body>
</html>


{% endblock %}