{% extends "appChernobylBlog/templateprueba.html"  %}



{% block ContentThatChanges %}

</head>
<br>
<body>
    {% for post in object_list %}
    <br>
    <ul>
        <a href="{% url 'post_detail' post.id %}">          <h3>{{post.title}}</h3></a> - 
        <a href="{% url 'post_category' post.category %}">  {{post.category}}</a> -
                                                            {{post.author}} - 
                                                            {{post.date}} -
        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
        <a href="{% url 'post_update'  post.id %} ">(Edit)</a>

            {% endif %}
        {% endif %}    
        <br>
        {{post.body | slice:":50" | safe }}

    </ul>
    {% endfor %}
</body>
</html>


{% endblock %}