{% extends "appChernobylBlog/templateprueba.html"  %}

<!---Cambio el titulo de la pag por el titulo de cada post --->
{% block title %} {{post.title}} {% endblock %}


{% block ContentThatChanges %}



<h3> {{post.title}} </h3> <small>{{post.category}}</small>
<small> by: {{post.author}}
            {{post.date}}</small>


      {% if user.is_authenticated %}
         {% if user.id == post.author.id %}
      <a href="{% url 'post_update'  post.id %} ">(Edit)</a>
      <a href="{% url 'post_delete'  post.id %} ">(Delete)</a><br>

         {% endif %}
      {% endif %}
<br/>

<hr>
   <h3> {{post.body}} </h3>
<br>
<br>
<a href="{% url 'post_home' %}" class="btn btn-secondary"> Back </a>
{% endblock %}
